<div class="card-trip">
  <%= link_to trip_path(trip), class: "card-trip-info" do %>

    <div class="card-header">
      <!-- trip destination -->
      <div class="card-trip-destination"><%= trip.destination.split(',').first %></div>
      <!-- trip budget -->
      <div class="card-trip-budget">
        <%= trip.budget %>
      </div>
    </div>



    <!-- trip photo -->
    <div class="card-image">
      <% if trip.photo.present? %>
        <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path trip.photo %>)">
          <h3><%= trip.title %></h3>
          <% if trip.organizer.photo.present? %>
            <%= cl_image_tag trip.organizer.photo, class: "card-avatar" %>
          <% end %>
        </div>
      <% else %>
        <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('city-images/lisbon.jpg') %>)">
          <h3><%= trip.title %></h3>
          <% if trip.organizer.photo.present? %>
            <%= cl_image_tag trip.organizer.photo, class: "card-avatar" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="card-info">
      <!-- trip availability -->
      <div class="card-trip-availability">
        <% availability = trip.max_participants - trip.participations.count %>
        <% if availability > 5 %>
          available
        <% elsif availability > 0 %>
          Last <%= availability %> spots
        <% else %>
          Sold out
        <% end %>
      </div>

      <!-- trip dates -->
      <div class="card-trip-dates">
        <%= trip.start_date.strftime("%d %b %Y") %> - <br> <%= trip.end_date.strftime("%d %b %Y") %>
      </div>
    </div>

  <% end %>
</div>
