<h3>Chat panel</h3>
  <% @trip.messages.each do |message| %>
    <p><%= render "message", message: message %></p>
  <% end %>

<%= simple_form_for(message) do |f| %>
  <%= f.hidden_field :trip_id, value: @trip.id %>
  <%= f.input :message %>
  <%= f.button :submit, value: "Submit" %>
<% end %>
