<div class="container">
  <h1><%= @trip.title %></h1>
  <% if @trip.photo.present? %>
    <div class="trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path @trip.photo %>)">
    </div>
  <% else %>
    <div class="trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('city-images/lisbon.jpg') %>)">
    </div>
  <% end %>

  <div class="trip-buddy">Buddy: <%= link_to @trip.organizer.username, user_path(@trip.organizer) %></div>
  <span><%= simple_format(@trip.description) %></span>
  <h2>Trip details</h2>
  <div class="trip-info-container">
    <div class="trip-info">
      <span class="trip-info-q">Where?</span> <span class="trip-info-a"><%= @trip.destination %></span>
    </div>
    <div class="trip-info">
      <span class="trip-info-q">When?</span> <span class="trip-info-a"><%= @trip.start_date.strftime("%d %b %Y") %> to <%= @trip.end_date.strftime("%d %b %Y") %></span>
    </div>
    <div class="trip-info">
      <span class="trip-info-q">Budget?</span> <span class="trip-info-a">HKD$<%= @trip.budget %></span>
    </div>
    <div class="trip-info">
      <span class="trip-info-q">Max number of people?</span> <span class="trip-info-a"><%= @trip.max_participants %></span>
    </div>
  </div>

  <h2>Other travellers</h2>
  <ul>
    <% @trip.users.each do |user| %>
      <li>
        <%= link_to user.username, user_path(user) %>
      </li>
    <% end %>
  </ul>
  <% if @trip.users.count < @trip.max_participants %>
    <button><%= link_to "Book", book_trip_path(@trip) %></button>
  <% end %>

 <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


</div>
