<div class="container">
  <div class="show-container">


    <div class="trip-image-container">
      <% if @trip.photo.present? %>
        <div class="trip-image-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path @trip.photo %>)">
        </div>
      <% else %>
        <div class="trip-image-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('city-images/city-default.jpg') %>)">
        </div>
      <% end %>
    </div>


    <div class="trip-info-container">
      <h1><%= @trip.title.split.map(&:capitalize).join(' ') %></h1>

      <div class="trip-buddy-show">
        My Buddy: <%= link_to @trip.organizer.username, user_path(@trip.organizer) %>
      </div>
      <br>
      <div class="trip-info-show">
        <span id="place"><i class="fas fa-map-marker"></i></span> <span class="trip-info-a"><%= @trip.destination.capitalize %></span>
      </div>
      <div class="trip-info-show">
        <span><i class="far fa-calendar-alt"></i></span> <span class="trip-info-a"><%= @trip.start_date.strftime("%d %b %Y") %> to <%= @trip.end_date.strftime("%d %b %Y") %></span>
      </div>
      <div class="trip-info-show">
        <span><i class="fas fa-dollar-sign"></i></span> <span class="trip-info-a"><%= @trip.budget %></span>
      </div>
      <div class="trip-info-show">
        <span><i class="fas fa-male"></i></span> Max <span class="trip-info-a"><%= @trip.max_participants %> people</span>
      </div>
      <div class="trip-details-show">
        <h2>Trip details</h2>
        <span><%= simple_format(@trip.description) %></span>
      </div>
      <% if @trip.users.count < @trip.max_participants %>
        <%= link_to book_trip_path(@trip) do %>
          <button class= "btn btn-success btn-lg btn-show" style= "color:white">Book</button>
        <% end %>
      <% end %>
    </div>
    <div class="trip-show-participants">
        <h3>Other travellers</h3>
        <div class="trip-show-user-participants">
          <% if @trip.users.any? %>
            <ul>
            <% @trip.users.each do |user| %>
              <li style="list-style-type: none;">
                <%= link_to user.username, user_path(user) %>
              </li>
            <% end %>
            </ul>
          <% else %>
            No one yet :(
          <% end %>
        </div>
      </div>
    <div class="chat-panel">
      <%= render "chat", message: @message, trip: @trip %>
    </div>


    <div class="weather-box" data-weather-api-key="<%= ENV['WEATHER_API_KEY'] %>">
        <h1 id="city-name"><%= @weather['name'] %></h1>
        <h2 id="clouds"><%= @weather['weather'][0]['main'] %></h2>
        <p id="sky"><%= @weather['weather'][0]['description']%></p>
        <div id="temperature"><%=  (@weather['main']['temp'] - 273.15).to_i%> °C</div>
    </div>


   <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  </div>

</div>
