<h1><%= @user.username %></h1>
<% if policy(@user).edit? %>
  <%= link_to "Change my profile", edit_user_path(@user) %>
<% end %>
<p><%= @user.description %></p>
<div class="container">
  <div class="row">
    <div class="trips-organised">
      <p>The trips that i organised:</p>
      <% @user.o_trips.each do |trip| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render '/trips/card', trip: trip %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="trips-joined">
      <p>The trips that i'm participating:</p>
      <% @user.trips.each do |trip| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render 'trips/card', trip: trip %>
        </div>
      <% end %>
    </div>
  </div>
</div>

