<div class="profile-header-wrapper">
  <div class="profile-header">
    <div id="profile-map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="profile-avatar">
      <% if current_user.photo.present? %>
        <%= cl_image_tag current_user.photo %>
      <% else %>
        <%= image_tag asset_path("default_avatar.png") %>
      <% end %>
    </div>
  </div>
  <div class="profile-content">
    <div class="container">
      <div class="user-info">
        <h3><%= @user.username %></h3>
        <p><%= @user.description %></p>
        <p>
          <% if policy(@user).edit? %>
            <%= link_to "Change my profile", edit_user_path(@user) %>
          <% end %>
        </p>
      </div>
      <div class="profile-header-card">
        <div class="h-card-content">
          <h3>Trips Total</h3>
          <p><%= @trips.count %></p>
        </div>
        <div class="h-card-content">
          <h3>Organised Trips</h3>
          <p><%= @o_trips.count %></p>
        </div>
        <div class="h-card-content">
          <h3>Trips Participated</h3>
          <p><%= @p_trips.count %></p>
        </div>
        <div class="h-card-content">
          <h3>User created at:</h3>
          <p><%= @user.created_at.strftime("%d %b %Y") %></p>
        </div>
      </div>
      <div class="profile-cards">
        <% @trips.each do |trip| %>
          <div class="trip-content">
            <div class="row">
              <div class="col-sm-2">
                <div class="trip-dates">
                  <i class="fas fa-plane-departure"></i>
                  <%= trip.start_date.strftime("%d %b %Y") %></br> <i class="fas fa-plane-arrival"></i>
                  <%= trip.end_date.strftime("%d %b %Y") %>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="trip-image">
                  <% if trip.photo.present? %>
                    <div class="trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path trip.photo %>)"></div>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="trip-where">
                  <i class="fas fa-globe-americas"></i>
                  <%= trip.destination %>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="trip-status">
                  <% if trip.organizer == @user %>
                    <p>Organiser</p>
                  <% else %>
                    <p>Participating</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
