<div class="container">
<<<<<<< HEAD
  <div class="user-profile">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="user-column first-column">
          <div class="user-photo">
            <% if current_user.photo.present? %>
            <%= cl_image_tag current_user.photo, class: "profile-picture" %>
            <% else %>
              <%= image_tag asset_path("default_avatar.png"), class: "profile-picture" %>
            <% end %>
            <h3><%= @user.username %></h3>
          </div>
          <div class="user-trip-info">
            <p>Created at: <%= @user.created_at.strftime("%d %b %Y") %></p>
            <p>Trips organised: <%= @o_trips.count %></p>
            <p>Trips joined: <%= @p_trips.count %></p>
            <p><% if policy(@user).edit? %>
              <%= link_to "Change my profile", edit_user_path(@user) %>
            <% end %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="user-column">
          <p><%= @user.description %></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="user-column">
          <div class="trips-organised">
            <p>Trips i organised:</p>
            <% @user.o_trips.each do |trip| %>
              <% if trip.photo.present? %>
                <div class="trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path trip.photo %>)">
                  <h3><%= trip.title %></h3>
                </div>
              <% else %>
                <div class="trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('city-images/lisbon.jpg') %>)">
                  <h3><%= trip.title %></h3>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="trips-joined">
            <p>Trips i joined:</p>
            <% @user.trips.each do |trip| %>
              <% if trip.photo.present? %>
                <div class="trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path trip.photo %>)">
                  <h3><%= trip.title %></h3>
                </div>
              <% else %>
                <div class="trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url('city-images/lisbon.jpg') %>)">
                  <h3><%= trip.title %></h3>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
